@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Merienda:wght@300..900&family=Silkscreen:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.fontFam {
    font-family: "faculty-glyphic";
}

.fontDesc {
  font-family: "merienda";
}

.fontHead {
  font-family: "audiowide";
  font-weight: 300;
  font-style: normal;
}

@keyframes spinSlow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spinSlow {
  animation: spinSlow 3s linear infinite;
}


@media (max-width: 800px) {
    .custom-scroll::-webkit-scrollbar {
      width: 0px !important; /* Hide scrollbar */
    }
  }
  
  .custom-scroll::-webkit-scrollbar {
    width: 4px;
  }
  
  .custom-scroll::-webkit-scrollbar-track {
    background: #848c9032 ;
    border-radius: 10px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background: #c9c8c8;
    border-radius: 10px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #9c9c9c !important;
    cursor: pointer;
  }
  
  .custom-scroll-nowidth::-webkit-scrollbar {
    width: 0px;
  }